body{
    background-color: black;
    background-image: url(Imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
}

main{
    color: rgb(0, 0, 0);
    background-color: white;
    width: 400px;
    margin:auto;
    border-radius: 15px;
    padding: 20px;
    
}