body{
    background-color: black;
    background-image: url(Imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial';
}

main{
    color: rgb(0, 0, 0);
    background-color: white;
    width: 100px;
    margin:auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    
}
h1{
    text-align: center;
    font-size: 31px;
}