body{
    background-color: #fff;
    color: #;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container{
    width: 100vw;
    color:#fff;
    background-color: black;
    padding:10px;
    text-align: center;
}

.container a{
    color: #fff;
    text-decoration: none;

}

.container a:hover{
    color: red;
    transition: 1s ;
}

.normal{
    padding: 10px;
    
}