body{
    background-color: black;
    background-image: url(Imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Arial';
}

main{
    color: rgb(0, 0, 0);
    background-color: white;
    width: 300px;
    margin:auto;
    border-radius: 15px;
    padding: 20px;
    
}
h1{
    text-align: center;
    font-size: 31px;
}